
.background-image {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	filter: blur(10px);
	background-size: cover;
	transition: 0.3s ease-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.list--inline li {
  display: inline-block;
}
.list--inline li:not(:last-child) {
  margin-right: 12px;
}

.movie {
    z-index: 2;
    position: relative;
    justify-content: center;
    overflow: hidden;
    margin: 80px auto;
    width: 100%;
    max-width: 800px;
    background-color: white;
    border-radius: 0.8em;
    box-shadow: rgba(0, 0, 0, 0.2) 0 30px 18px -24px;
}
.movie__data {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  min-height: 400px;
}
@media (min-width: 600px) {
  .movie__data {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}
.movie__search {
  position: absolute;
  top: 24px;
  right: 24px;
  margin: auto;
  width: calc(100% - (12px * 4));
}
@media (min-width: 400px) {
  .movie__search {
    max-width: 200px;
  }
}
.movie__tags {
  font-size: 0.75em;
  color: darkgray;
}
.movie__poster {
  position: relative;
  display: -webkit-box;
  display: flex;
  width: 100%;
}
@media (min-width: 600px) {
  .movie__poster {
    margin-right: 12px;
    width: 200px;
  }
}
.movie__poster--fill {
  position: absolute;
  overflow: hidden;
  top: -80%;
  bottom: -20%;
  left: -20%;
  width: 150%;
  height: 150%;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
@media (min-width: 600px) {
  .movie__poster--fill {
    top: -20%;
    width: 100%;
  }
}
.movie__poster--fill img {
  -webkit-filter: blur(6px);
          filter: blur(2px);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
.movie__poster--featured {
  position: relative;
  align-self: center;
  overflow: hidden;
  margin-top: 84px;
  margin-left: 24px;
  width: 140px;
  background-color: gainsboro;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 6px 12px -6px;
  z-index: 1;
}
@media (min-width: 600px) {
  .movie__poster--featured {
    left: 56px;
    margin: auto;
  }
}
.movie__poster--featured img {
  width: 140px;
  vertical-align: middle;
}
.movie__poster--featured img[src="N/A"] {
  min-height: 206px;
  opacity: 0;
}
.movie__details {
  -webkit-box-flex: 1;
          flex: 1;
  padding: 24px;
}
@media (min-width: 600px) {
  .movie__details {
    padding: 72px;
  }
}
.movie__title {
  font-size: 2em;
}
.movie__no-results {
  align-self: center;
  justify-self: center;
  width: 100%;
  text-align: center;
}

