.link{
    display: flex;
    align-items: cover;
    cursor: pointer;
    border-radius: 30px;
    color: #e4e5e6;
}
.link:hover{
    background-color:  #3b3b75;
    color: #e4e5e6;
    transition: color 100ms ease-out;
}
.link > h2{
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
}
.link > .MuiSvgIcon-root{
    padding: 20px;
}
