.sidebar{
    width:250px;
    min-width: 250px;
    padding: 20px 20px;
    margin: 20px auto 0 auto;
    box-shadow: 0 0 6px ;
    border-radius: 20px;
    background-color: #26264c;
}
#tweet{
    width: 100%;
    height: 50px;
    background-color: #7962f2;
    border-radius: 20px;
    color: #e4e5e6;
    font-weight: 700;
    text-transform: inherit;
}
#tweet:hover{
    color:  #1a1a2e;
    background-color:  #e4e5e6;
}
#moreLinks{
    width: 100%;
    border-radius: 30px;
    font-weight: 700;
    justify-content: unset;
    font-size: 20px;
    margin-right: 20px;
    text-transform: inherit;
    color: #e4e5e6;
    height: 60px;
    padding-left: 10px;
    padding-right: 30px;
    margin-bottom: 5px;
  }
  #moreLinks .MuiSvgIcon-root{
    margin-right: 20px;
  }
  #moreLinks:hover{
    background-color: #3b3b75;
    color: #e4e5e6;
    transition: color 100ms ease-out;
  }
  #long-menu .MuiMenu-paper{
    width: 220px;
    max-height: 100vh;
    left: 40% !important;
    top: unset !important;
  }
  #long-menu .MuiListItem-root{
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .MuiListItem-root:nth-child(6){
    border-bottom: 1px solid hsl(210, 12%, 95%);
  }
  .MuiListItem-root .MuiSvgIcon-root{
    font-size: 20px;
    color: hsl(210, 12%, 20%);
    font-weight: 400;
    margin-right: 10px;
  }